@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}
* body {
  background-color: black;
}

@media only screen and (orientation: portrait) {
  .section_demo {
    background-color: rgb(7, 7, 107);
    height: 100vh;
  }
  .section_demo .section_content {
    display: flex;
    flex-direction: column;
    padding: 0 3em 0 3em;
  }
  .section_demo .section_content .title_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 0 0;
  }
  .section_demo .section_content .title_and_nav .title_demo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three {
    display: none;
  }
  .section_demo .section_content .title_and_nav .mobile_nav_three #dots_menu {
    width: 3em;
  }
  .section_demo .section_content .three_paragraph {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin: 2em 0 0 0;
  }
  .section_demo .section_content .three_paragraph .para_one {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 0.9rem;
  }
  .section_demo .section_content .three_paragraph .image {
    display: flex;
    align-items: center;
  }
  .section_demo .section_content .three_paragraph .image p {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
  }
  .section_demo .section_content .three_paragraph .image #three_logo {
    width: 4em;
  }
  .section_demo .section_content .three_paragraph .button {
    margin: 5ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .button a {
    background-color: white;
    color: rgb(7, 7, 107);
    padding: 0.5em 2em;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
}
@media only screen and (orientation: landscape) {
  .section_demo {
    background-color: rgb(90, 30, 8);
    height: 100vh;
  }
  .section_demo .section_content {
    display: flex;
    flex-direction: column;
    padding: 0 2em 0 2em;
  }
  .section_demo .section_content .title_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
  }
  .section_demo .section_content .title_and_nav .title_demo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.2rem;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three {
    display: none;
  }
  .section_demo .section_content .title_and_nav .mobile_nav_three #dots_menu {
    width: 3em;
  }
  .section_demo .section_content .three_paragraph {
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    margin: 0.5em 0 0 0;
  }
  .section_demo .section_content .three_paragraph .para_one {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 0.9rem;
  }
  .section_demo .section_content .three_paragraph .image {
    display: flex;
    align-items: center;
  }
  .section_demo .section_content .three_paragraph .image p {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
  }
  .section_demo .section_content .three_paragraph .image #three_logo {
    width: 4em;
  }
  .section_demo .section_content .three_paragraph .button {
    margin: 3ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .button a {
    background-color: white;
    color: rgb(90, 30, 8);
    padding: 0.5em 2em;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1899px) {
  .section_demo {
    background-color: rgb(4, 65, 4);
    height: 100vh;
  }
  .section_demo .section_content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 0 5em 0 5em;
    height: 100%;
  }
  .section_demo .section_content .title_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 0 0;
  }
  .section_demo .section_content .title_and_nav .title_demo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3rem;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul {
    display: flex;
    gap: 1.5ch;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul li {
    list-style: none;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul li a {
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .section_demo .section_content .title_and_nav .mobile_nav_three {
    display: none;
  }
  .section_demo .section_content .three_paragraph {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    gap: 3ch;
    margin: 3ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .para_one {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  .section_demo .section_content .three_paragraph .image {
    display: flex;
    align-items: center;
  }
  .section_demo .section_content .three_paragraph .image p {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  .section_demo .section_content .three_paragraph .image #three_logo {
    width: 5em;
  }
  .section_demo .section_content .three_paragraph .button {
    margin: 5ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .button a {
    background-color: white;
    color: rgb(4, 65, 4);
    padding: 0.5em 4em;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1900px) {
  .section_demo {
    background-color: rgb(13, 107, 107);
    height: 100vh;
  }
  .section_demo .section_content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 0 10em 0 10em;
    height: 100%;
  }
  .section_demo .section_content .title_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 0 0;
  }
  .section_demo .section_content .title_and_nav .title_demo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3rem;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul {
    display: flex;
    gap: 1.5ch;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul li {
    list-style: none;
  }
  .section_demo .section_content .title_and_nav .desktop_nav_three ul li a {
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .section_demo .section_content .title_and_nav .mobile_nav_three {
    display: none;
  }
  .section_demo .section_content .three_paragraph {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    gap: 3ch;
    margin: 5ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .para_one {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  .section_demo .section_content .three_paragraph .image {
    display: flex;
    align-items: center;
  }
  .section_demo .section_content .three_paragraph .image p {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  .section_demo .section_content .three_paragraph .image #three_logo {
    width: 5em;
  }
  .section_demo .section_content .three_paragraph .button {
    margin: 5ch 0 0 0;
  }
  .section_demo .section_content .three_paragraph .button a {
    background-color: white;
    color: rgb(4, 65, 4);
    color: rgb(13, 107, 107);
    padding: 0.5em 4em;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
}/*# sourceMappingURL=about.css.map */