@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');


* {
    margin: 0;
    body {
        background-color: black;
        font-family: 'Inter', sans-serif;
    }
}

// portrait
@media only screen and (max-width: 600px) {
    // First Section
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 10ch;
            gap: 13vw;
            gap: 30%;
            // gap: 50vw;
            // background-color: aqua;
            height: 14ch;
            // Desktop Menu
            .desktop_nav {
                display: none;
            }
            // Mobile Menu
            .mobile_nav {
                #dots_menu {
                    width: 3em;
                }
            }
            // Title
            .title {
                color: white;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        // Section of Squares
        .squares {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4vh;
            // background-color: aqua;
            height: 80%;
            margin-top: -4ch;
            // Each Square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 25%;
                width: 70%;
                border-radius: 10px;
                #first_one {
                    width: 3em;
                }
                #r1 {
                    width: 3em;
                }
                #mps {
                    width: 5em;
                }
            }
        }
    }
    // Second Section
    .section_two {
        background-color: rgb(5, 41, 5);
        height: 110vh;

        // NavBar
        .title_and_nav_two{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 30%;
            // background-color: aqua;
            height: 14ch;
            // Desktop Menu
            .desktop_nav_two {
                display: none;
            }
            // Mobile Menu
            .mobile_nav_two {
                #dots_menu {
                    width: 3em;
                }
            }
            // Title
            .title_two {
                color: white;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        // The Circles
        .circles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // height: 60%;
            gap: 2ch;
            margin: 1ch 0 0 0;
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48vw;
                height: 48vw;
                // height: 53vw;
                background-color: wheat;
                border-radius: 50%;
                .front_circle {
                    background-color: rgb(6, 6, 80);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45vw;
                    height: 45vw;
                    border-radius: 50%;
                    p {
                        color: white;
                    }
                }
            }
        }
    }
    // Section Three
    .section_three {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar 
        .title_and_nav_three {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 30%;
            height: 14ch;
            .desktop_nav_three {
                display: none;
            }
            // Mobile Menu
            .mobile_nav_three {
                #dots_menu {
                    width: 3em;
                }
            }
            // Title
            .title_three {
                color: white;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        // The Content
        .three_words {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            .three_paragraph {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3vw;
                // background-color: lightcoral;
                width: 76%;
                height: 100%;
                margin-top: -6ch;
                p {
                    color: white;
                }
                #three_logo {
                    width: 4em;
                    margin: 1ch 0 1ch -30vh;
                }
                .button {
                    margin: 5ch 0 0 -16vh;
                    a {
                        background-color: white;
                        padding: 1em 2.5em 1em 2.5em;
                        border-radius: 25px;
                        text-decoration: none;
                        color: rgb(11, 11, 96);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// smartphone landscapes
@media only screen and (min-width: 700px) and (max-width: 999px) {
    // first section
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            height: 12ch;
            gap: 60ch;
            gap: 45vw;
            gap: 60%;
            // Desktop Menu
            .desktop_nav {
                display: none;
            }
            // Menu Menu
            .mobile_nav {
                #dots_menu {
                    width: 3.5em;
                }
            }
            // Title
            .title {
                color: white;
                font-size: 2.2rem;
                font-weight: bold;
            }
        }
        // Section of Squares
        .squares {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3vw;
            // background-color: aqua;
            height: 70%;
            margin-top: -4ch;
            // Each Square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 75%;
                width: 25%;
                border-radius: 10px;
                #first_one {
                    width: 3em;
                }
                #r1 {
                    width: 3em;
                }
                #mps {
                    width: 5em;
                }
            }
        }
    }
    // second section
    .section_two {
        background-color: rgb(5, 41, 5);
        height: 100vh;

        // NavBar
        .title_and_nav_two {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            height: 12ch;
            gap: 60%;
            // Desktop Menu
            .desktop_nav_two {
                display: none;
            }
            // Menu Menu
            .mobile_nav_two {
                #dots_menu {
                    width: 3.5em;
                }
            }
            // Title
            .title_two {
                color: white;
                font-size: 2.2rem;
                font-weight: bold;
            }
        }
        // The Circles
        .circles {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2ch;
            height: 55%;
            // background-color: aqua;
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 13em;
                height: 13em;
                background-color: wheat;
                border-radius: 50%;
                .front_circle {
                    background-color: rgb(6, 6, 80);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 12em;
                    height: 12em;
                    border-radius: 50%;
                    p {
                        color: white;
                    }
                }
            }
        }
    }
    // Section Three
    .section_three {
        background-color: rgb(11, 11, 96);
        height: 105vh;

        // NavBar
        .title_and_nav_three {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            height: 12ch;
            gap: 60%;
            // Desktop Menu
            .desktop_nav_three {
                display: none;
            }
            // Menu Menu
            .mobile_nav_three {
                #dots_menu {
                    width: 3.5em;
                }
            }
            // Title
            .title_three {
                color: white;
                font-size: 2.2rem;
                font-weight: bold;
            }
        }
        // Three Content
        .three_words {
            // background-color: aqua;
            width: 85%;
            margin: -2ch 0 0 6.5ch;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            .three_paragraph {
                color: white;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2ch;
                // justify-content: left;
                // align-items: center;
                gap: 1.2em;
                #three_logo {
                    width: 4em;
                    // margin: 0 0 0 -64ch;
                }
                .button {
                    margin: 1ch 0 0 0;
                    a {
                        background-color: white;
                        padding: .5em 1.5em .5em 1.5em;   
                        border-radius: 25px;
                        text-decoration: none;
                        color: rgb(11, 11, 96);
                        // margin-left: -51ch;
                        
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// Ipad 14
@media only screen and (width: 768px), (width: 810px) {
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            height: 15ch;
            gap: 60ch;
            gap: 45vw;
            gap: 40%;
            // Desktop Menu
            .desktop_nav {
                display: none;
            }
            // Menu Menu
            .mobile_nav {
                #dots_menu {
                    width: 3.5em;
                }
            }
            // Title
            .title {
                color: white;
                font-size: 3rem;
            }
        }
        // Section of Squares
        .squares {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 7ch;
            // background-color: aqua;
            height: 60%;
            margin-top: 3ch;
            // margin-top: -2ch;
            // Each Square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 25%;
                width: 75%;
                border-radius: 10px;
                #first_one {
                    width: 5em;
                }
                #r1 {
                    width: 5em;
                }
                #mps {
                    width: 6em;
                }
            }
        }
    }
}


// Tablets and Landscape talets
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
   .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 10ch;
            gap: 52vw;
            gap: 50%;
            // background-color: aqua;
            height: 17ch;
            // Desktop Menu
            .desktop_nav {
                display: none;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
            }
            // Mobile Menu
            .mobile_nav {
                #dots_menu {
                    width: 4em;
                }
            }
            // Title
            .title {
                color: white;
                font-size: 3em;
                font-weight: bold;
            }
        }
        // Section of Squares
        .squares {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3ch;
            // background-color: aqua;
            height: 75%;
            margin-top: -5ch;
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 75%;
                width: 25%;
                border-radius: 10px;
            }
        }
   }
}


// 1200 Monitors
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    // The Whole Section
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 20ch;
            gap: 25%;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 1.5em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav {
                display: none;
            }
            // Title
            .title {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        // Section for Squares
        .squares {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            margin-top: -5ch;
            // each square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 70%;
                width: 25%;
                border-radius: 10px;
                #first_one {
                    width: 4em;
                }
                #r1 {
                    width: 4em;
                }
                #mps {
                    width: 6em;
                    height: 2em;
                }
            }
        }
    }
    // Second Section
    .section_two {
        background-color: rgb(5, 41, 5);
        height: 100vh;

        // NavBar
        // NavBar
        .title_and_nav_two {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 50ch;
            gap: 25%;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav_two  {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 1.5em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav_two  {
                display: none;
            }
            // Title
            .title_two  {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .circles {
            // Section for Circles
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            margin-top: -7ch;
            // each circle
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: wheat;
                height: 25vw;
                width: 25vw;
                border-radius: 50%;
                .front_circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(6, 6, 80);
                    height: 23vw;
                    width: 23vw;
                    border-radius: 50%;
                    p {
                        color: wheat;
                    }
                }
            }
        }
    }
}

// 1500 Monitors
@media only screen and (min-width: 1500px)  {
    // The Whole Section
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 50ch;
            gap: 30vw;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 2em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav {
                display: none;
            }
            // Title
            .title {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        // Section for Squares
        .squares {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            // each square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 75%;
                width: 23%;
                border-radius: 10px;
                // #first_one {

                // }
                // #r1 {

                // }
                #mps {
                    width: 10em;
                    height: 4em;
                }
            }
        }
    }
    // Second Section
    .section_two {
        background-color: rgb(5, 41, 5);
        height: 100vh;

        // NavBar
        // NavBar
        .title_and_nav_two {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 50ch;
            gap: 30vw;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav_two  {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 2em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav_two  {
                display: none;
            }
            // Title
            .title_two  {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .circles {
            // Section for Circles
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            // each circle
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: wheat;
                height: 25vw;
                width: 25vw;
                border-radius: 50%;
                .front_circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(6, 6, 80);
                    height: 23vw;
                    width: 23vw;
                    border-radius: 50%;
                    p {
                        color: wheat;
                    }
                }
            }
        }
    }
}

// 1900
@media only screen and (min-width: 1900px)  {
    // The Whole Section
    .section {
        background-color: rgb(11, 11, 96);
        height: 100vh;

        // NavBar
        .title_and_nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 50ch;
            gap: 40vw;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 2em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav {
                display: none;
            }
            // Title
            .title {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        // Section for Squares
        .squares {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            // each square
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                height: 75%;
                width: 23%;
                border-radius: 10px;
                // #first_one {

                // }
                // #r1 {

                // }
                #mps {
                    width: 10em;
                    height: 4em;
                }
            }
        }
    }
    // Second Section
    .section_two {
        background-color: rgb(5, 41, 5);
        height: 100vh;

        // NavBar
        // NavBar
        .title_and_nav_two {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 50ch;
            gap: 40vw;
            // background-color: aqua;
            height: 22vh;
            width: 100%;
            // List Menu
            .desktop_nav_two  {
                // width: 100%;
                // position the ul
                ul {
                    display: flex;
                    gap: 2em;
                    // style the list
                    li {
                        list-style: none;
                        // style the links
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            // Mobile Menu (hide)
            .mobile_nav_two  {
                display: none;
            }
            // Title
            .title_two  {
                // width: 100%;
                color: white;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .circles {
            // Section for Circles
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5ch;
            // background-color: aqua;
            // The squares will be a percentage of this
            height: 70%;
            // each circle
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: wheat;
                height: 25vw;
                width: 25vw;
                
                border-radius: 50%;
                .front_circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(6, 6, 80);
                    height: 23vw;
                    width: 23vw;
                    // height: 90%;
                    // width: 90%;
                    border-radius: 50%;
                    p {
                        color: wheat;
                    }
                }
            }
        }
    }
}