@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}
* body {
  background-color: black;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 600px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10ch;
    gap: 13vw;
    gap: 30%;
    height: 14ch;
  }
  .section .title_and_nav .desktop_nav {
    display: none;
  }
  .section .title_and_nav .mobile_nav #dots_menu {
    width: 3em;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    height: 80%;
    margin-top: -4ch;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 25%;
    width: 70%;
    border-radius: 10px;
  }
  .section .squares .square #first_one {
    width: 3em;
  }
  .section .squares .square #r1 {
    width: 3em;
  }
  .section .squares .square #mps {
    width: 5em;
  }
  .section_two {
    background-color: rgb(5, 41, 5);
    height: 110vh;
  }
  .section_two .title_and_nav_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10ch;
    gap: 13vw;
    gap: 30%;
    height: 14ch;
  }
  .section_two .title_and_nav_two .desktop_nav_two {
    display: none;
  }
  .section_two .title_and_nav_two .mobile_nav_two #dots_menu {
    width: 3em;
  }
  .section_two .title_and_nav_two .title_two {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .section_two .circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2ch;
    margin: 0ch 0 0 0;
  }
  .section_two .circles .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53vw;
    height: 53vw;
    background-color: wheat;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle {
    background-color: rgb(6, 6, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle p {
    color: white;
  }
}
@media only screen and (min-width: 700px) and (max-width: 999px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 12ch;
    gap: 60ch;
    gap: 45vw;
    gap: 60%;
  }
  .section .title_and_nav .desktop_nav {
    display: none;
  }
  .section .title_and_nav .mobile_nav #dots_menu {
    width: 3.5em;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    height: 70%;
    margin-top: -4ch;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 75%;
    width: 25%;
    border-radius: 10px;
  }
  .section .squares .square #first_one {
    width: 3em;
  }
  .section .squares .square #r1 {
    width: 3em;
  }
  .section .squares .square #mps {
    width: 5em;
  }
  .section_two {
    background-color: rgb(5, 41, 5);
    height: 100vh;
  }
  .section_two .title_and_nav_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 12ch;
    gap: 60ch;
    gap: 45vw;
    gap: 60%;
  }
  .section_two .title_and_nav_two .desktop_nav_two {
    display: none;
  }
  .section_two .title_and_nav_two .mobile_nav_two #dots_menu {
    width: 3.5em;
  }
  .section_two .title_and_nav_two .title_two {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .section_two .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ch;
    height: 55%;
  }
  .section_two .circles .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13em;
    height: 13em;
    background-color: wheat;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle {
    background-color: rgb(6, 6, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 12em;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle p {
    color: white;
  }
}
@media only screen and (width: 768px), (width: 810px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 15ch;
    gap: 60ch;
    gap: 45vw;
    gap: 40%;
  }
  .section .title_and_nav .desktop_nav {
    display: none;
  }
  .section .title_and_nav .mobile_nav #dots_menu {
    width: 3.5em;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 3rem;
  }
  .section .squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7ch;
    height: 60%;
    margin-top: 3ch;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 25%;
    width: 75%;
    border-radius: 10px;
  }
  .section .squares .square #first_one {
    width: 5em;
  }
  .section .squares .square #r1 {
    width: 5em;
  }
  .section .squares .square #mps {
    width: 6em;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10ch;
    gap: 52vw;
    gap: 50%;
    height: 17ch;
  }
  .section .title_and_nav .desktop_nav {
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .section .title_and_nav .mobile_nav #dots_menu {
    width: 4em;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 3em;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3ch;
    height: 75%;
    margin-top: -5ch;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 75%;
    width: 25%;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20ch;
    gap: 25%;
    height: 22vh;
    width: 100%;
  }
  .section .title_and_nav .desktop_nav ul {
    display: flex;
    gap: 1.5em;
  }
  .section .title_and_nav .desktop_nav ul li {
    list-style: none;
  }
  .section .title_and_nav .desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section .title_and_nav .mobile_nav {
    display: none;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
    margin-top: -5ch;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 70%;
    width: 25%;
    border-radius: 10px;
  }
  .section .squares .square #first_one {
    width: 4em;
  }
  .section .squares .square #r1 {
    width: 4em;
  }
  .section .squares .square #mps {
    width: 6em;
    height: 2em;
  }
  .section_two {
    background-color: rgb(5, 41, 5);
    height: 100vh;
  }
  .section_two .title_and_nav_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50ch;
    gap: 25%;
    height: 22vh;
    width: 100%;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul {
    display: flex;
    gap: 1.5em;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li {
    list-style: none;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav_two .mobile_nav_two {
    display: none;
  }
  .section_two .title_and_nav_two .title_two {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
    margin-top: -7ch;
  }
  .section_two .circles .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 80);
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle p {
    color: wheat;
  }
}
@media only screen and (min-width: 1500px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50ch;
    gap: 30vw;
    height: 22vh;
    width: 100%;
  }
  .section .title_and_nav .desktop_nav ul {
    display: flex;
    gap: 2em;
  }
  .section .title_and_nav .desktop_nav ul li {
    list-style: none;
  }
  .section .title_and_nav .desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section .title_and_nav .mobile_nav {
    display: none;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 75%;
    width: 23%;
    border-radius: 10px;
  }
  .section .squares .square #mps {
    width: 10em;
    height: 4em;
  }
  .section_two {
    background-color: rgb(5, 41, 5);
    height: 100vh;
  }
  .section_two .title_and_nav_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50ch;
    gap: 30vw;
    height: 22vh;
    width: 100%;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul {
    display: flex;
    gap: 2em;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li {
    list-style: none;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav_two .mobile_nav_two {
    display: none;
  }
  .section_two .title_and_nav_two .title_two {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
  }
  .section_two .circles .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 80);
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle p {
    color: wheat;
  }
}
@media only screen and (min-width: 1900px) {
  .section {
    background-color: rgb(11, 11, 96);
    height: 100vh;
  }
  .section .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50ch;
    gap: 40vw;
    height: 22vh;
    width: 100%;
  }
  .section .title_and_nav .desktop_nav ul {
    display: flex;
    gap: 2em;
  }
  .section .title_and_nav .desktop_nav ul li {
    list-style: none;
  }
  .section .title_and_nav .desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section .title_and_nav .mobile_nav {
    display: none;
  }
  .section .title_and_nav .title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
  }
  .section .squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 75%;
    width: 23%;
    border-radius: 10px;
  }
  .section .squares .square #mps {
    width: 10em;
    height: 4em;
  }
  .section_two {
    background-color: rgb(5, 41, 5);
    height: 100vh;
  }
  .section_two .title_and_nav_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50ch;
    gap: 40vw;
    height: 22vh;
    width: 100%;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul {
    display: flex;
    gap: 2em;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li {
    list-style: none;
  }
  .section_two .title_and_nav_two .desktop_nav_two ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav_two .mobile_nav_two {
    display: none;
  }
  .section_two .title_and_nav_two .title_two {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    height: 70%;
  }
  .section_two .circles .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 80);
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
  }
  .section_two .circles .circle .front_circle p {
    color: wheat;
  }
}/*# sourceMappingURL=style.css.map */